.btn {
    margin-top: 1%;
    background-color: darkorange;
    color: #ffffff;
}

.btn:hover {
    color: #ffffff;
}

.logon {
    margin-top: 25%;
    background-color: #EFEFEF;
}

.form-control {
    margin-bottom: 1%;
}

.box-link {
    margin: 2px;
}

.box-link p {
    margin: 0;
    padding: 0;
}

.btn-search {
    margin: 2px;
    padding: 2px;
}

.search {
    margin: 2px;
    padding: 2px;
}

.btn-disconnect {
    margin: 2px;
    padding: 2px;
}

.btn-list {
    margin: 2px;
    padding: 2px;
}

.friend {
    color: green;
}

.count {
    position: absolute;
    top: 25px;
    left: 30px;
    height: 20px;
    width: 20px;
    color: white;
    text-align: center;
    border: 1px solid green;
    border-radius: 100%;
    background-color: green;
}

#articles {
    padding-top: 10px;
}

textarea {
    min-height: 40px;
    max-height: 40px;
    min-width: 200px;
    max-width: 200px;
    padding-bottom: 12px;
}