{% extends 'layout.twig' %}

{% block content %}

{% if online %}

	<div class="container logon">
		<div class="row">
			<div class="col-xs-offset-1 col-xs-8 text-center">
				<h2></h2>
				<form method="post" action="{{root}}home/createArticle">
					<textarea type="text" class="form-control" name="content" value="" placeholder="message" required></textarea>
			</div>
			<div class="col-xs-2">
				<button type="submit" id="submit" class="btn btn-small glyphicon glyphicon-share-alt"></button>
				</form>
			</div>
		</div>
	</div>

	{% if articles %}
	    <div class="col-sm-7">  
		    {% for article in articles %}
		      <div class="row">
		        <div class="col-sm-9">
		          <div class="well articles">
		            <p> {{ article.content|e }} </p>
		            <p class="publish"> {{ article.date }} </p>
		          </div>
		        </div>
		      </div>
		    {% endfor %}
   	 	</div>
	{% endif %}

{% endif %}

{% endblock %}