<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> {{title}} </title>

    <!-- Theme CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{asset}}/style.css" rel="stylesheet">

</head>

<body>

{% if online == true %}
    <div class="container">
        <div class="row">
            <div class="col-xs-6 search">
                <form method="post" action="{{root}}home/search">
                    <input type="text" class="form-control search" name="pseudo" value="">
            </div>
            <div class="col-xs-2 btn-search">
                    <button type="submit" class="btn btn-small glyphicon glyphicon-search"></button>
                 </form>
            </div>
            <div class="col-xs-3 text-center">
                <div><a href="{{root}}home/disconnect" class="glyphicon glyphicon-off"></a></div>
            </div>
        </div>
    </div>

{% endif %}

    {% block content %} {% endblock %}

    <script>
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>