{% extends 'layout.twig' %}

{% block content %}

    <div class="container logon">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 text-center">
                <h2> Log On ! </h2>
                <p> {{ test }}</p>
            </div>
        </div>
    </div>

{% endblock %}