{% extends 'layout.twig' %}

{% block content %}

<div>
	<h1>Profile</h1>
</div>


<div id="nav" class="container">
	<div class="col-xs-offset-1 col-xs-8 bar">
	<img src="./images/avatar-5.jpg" class="img-responsive" alt="Cinque Terre">
		<form method="post" action="{{root}}profile" enctype="multipart/form-data">	
			<input type="file" name="picture" accept="/images/*">	
			<button type="submit" class="btn btn-lg"> Insert Image </button>
		</form>
	</div>
</div>
<div id="nav" class="container">
	<div class="col-xs-offset-1 col-xs-8 bar">
		<form method="post" action="{{root}}profile/newMail">	
			<input type="email" class="form-control" name="mail" value="" placeholder="Email">
			<input type="text" name="pseudo" value="{{pseudo}}" hidden="hidden">	
			<button type="submit" class="btn btn-lg"> Modify </button>
		</form>
	</div>
</div>





{% endblock %}