{% extends 'layout.twig' %}

{% block content %}

	<div class="container">
    	<div class ="row">
        	<div class="col-xs-offset-1 col-xs-10 text-center">  
        		<p> Publication of {{pseudo}} </p>
        	</div>
    	</div>
    </div>
	
{% if articles %}
	{% for article in articles %}
		<div class="container article">
	    	<div class ="row">
	        	<div class="col-xs-offset-1 col-xs-10 text-justify">{{ article.content|e }} <br> 
	        		<div class="publish"> {{ article.date}} </div>
	        	</div>
	    	</div>
	    </div>
	{% endfor %}
{% endif %}


{% endblock %}